@import url(reset.css);
@import url(font.css);
@import url(typography.css);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix{
    clear: both;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}



/*  Layout====================== */


header .container{
    background-color: yellow;
    width: 100%;
    height: 78px;  
}

header .container .col{
    float: left;
    height: 78px;  
}
header .container .col:first-child{
    background-color: blueviolet;
    width: calc(131px + 38px);
   
   
}

header .container .col:nth-child(2){
    background-color: brown;
    width: calc(100% - 188px - 131px - 38px);

}
header .container .col:last-child{
    background-color: #111;
    width: 188px;
    text-align: right;
    padding-right: 38px;
    padding-top: 22px;

}

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

/* header .container{
    position: fixed;

}              see the diff .... */


header .container .col:last-child div{
    display: inline-block;
    /* background-color: blueviolet; */
}


#btn-playnow{
    padding: 8px 16px;
    border-radius: 12px;
    height: 32px;
    font-size: 13px;
    size: 13px;
    font-family: "FF Mark W05";
    font-weight: bold;
    cursor: pointer;
    background:linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    transition: background 50ms;


}

#btn-playnow:hover{
    background: rgb(255, 92, 70);
   
}

#ico-world{
    width: 32px;
    height: 32px;
    margin-right: 6px;
    text-align: center;
    border-radius: 6.4px;
    cursor: pointer;
}
#ico-world:hover{
    background-color: rgba(128, 128, 128, 1);
}

#ico-world ion-icon{
    color: white;
    font-size: 1.2rem;
    vertical-align: middle; /* for the element */
    padding-top: 5px;
}


